
         <!-- <div class="col-lg-6">
              <h3 id="h">| ©   2022 Innotrack Technologies Pvt Ltd.  |</h3>
             </div> -->
             <div class="" id="img" >
               <h6>&nbsp;&nbsp;| © 2022 Innotrack Technologies Pvt Ltd.  |</h6>
                <a routerLink="privacy">Privacy Policy |</a>
                 <a routerLink="terms">Terms of Service |</a>
                 <a routerLink="contact">Contact Us</a>
                 <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -->
                 
                 <br>
                  <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>&nbsp;
                  <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>&nbsp;
                  <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>&nbsp; 
                  
</div>
