<div class="container">
    <div class="login">
      <img class="im" src="https://media.istockphoto.com/vectors/administrator-laptop-vector-id1216514124?k=20&m=1216514124&s=612x612&w=0&h=ATbQJqHRc-o5H0KYjMlJERiODQKJCdM_WlK62JhlSMA="height="100cm" width="120cm">
        <div class="login-triangle"></div>
        <h2 class="login-header">Module</h2>
    
              
        <div class="div1">
            <a id="txt"class="nav-link" routerLink="login" routerLinkActive="active-link">Admin Module</a>
            <a id="txt"class="nav-link" routerLink="login" routerLinkActive="active-link">Employee Module</a>
        </div>
        
      </div>
    </div>